.news-app {
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px;
  column-gap: 10px;
  row-gap: 15px;
}
.news-item {
  width: 100%;
  padding: 20px;
  border: 1px solid #eee;
  margin-bottom: 20px;
}
.news-img {
  width: 400px;
}
